<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Some Website's About Page</title>
  </head>
  <body>
    {{> header}}
    <p>This is the about page.</p>
  </body>

 {{> footer}}

</html>